.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.heading1{
  text-align: center;
  font-weight: 10;
  font-size: 20px;
  height: 70px;
  width:800px;
  margin-left: 300px
}
.main_img{
  margin-top: 25px;
  margin-left: 25px;
  height: 20px;
  width: 22px;
}
.profile_img{
  margin-top: 25px;
  margin-left: 28px;
  height: 18px;
  width: 18px;
}
.nav{
  position: sticky;
  background-color: #ffffff;
  box-shadow: 0 8px 14px rgb(245, 244, 244);
  top:0
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.head_img{
  margin-top:24px;
  margin-left: 58%;
  height: 20px;
  width: 20px;
}
.header {
  display: flex;
  flex-direction: row;
  width:'100%';
  height: 70px;
  position: sticky;
  top:0;
  background-color:#166fc2;
  box-shadow:0 4px 8px rgb(24, 22, 22);
}
.footer {
  width:'100%';
  height: 260px;
  background-color:#000508;
  box-shadow:0 8px 14px rgb(24, 22, 22);
}
.heading {
  text-align: center;
  padding-top: 2%;
  font-family: Arial, Helvetica, sans-serif ;
  font-size: 40px;
  font-weight: lighter
}
.fac-size{
  
  padding-left: 15px;
  height: 24px;
  width: 39px;
}
.twit-size{
  padding-top: 2px;
  padding-left: 15px;
  height: 20px;
  width: 35px;
}
.ins-size{
  padding-top: 2px;
  padding-left: 15px;
  height: 20px;
  width: 35px;
}
.footer-contain1{
  padding-top: 10px;
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: 100px;
}
.share{
  font-display: bold;
  display:flex;
  flex-direction: row;
  color:white;
  width:300px;
  
}
.share1{
  font-display: bold;
  color:white;
  width:300px
}
.hr{
  display: block;
  margin-top: 5px;
  margin-right: 80%;
  margin-left: 0px;
  border-width: 2px;
  width: 300px;
  border-color: #166fc2;
  color: #166fc2;
}
.name{
  color:white;
  padding-left: 0.5%;
  padding-top: 20px;
  padding-bottom:18px;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: bold
}
.App-link {
  color: #61dafb;
}
.card1{
  width:270px;
  margin:30px;
  border-radius: 20px;
  margin-top: 70px;
  box-shadow: 0 8px 45px 0 #166fc2;
  text-align: center;
  padding-top: 20px ;
  padding-bottom: 60px;
  margin-bottom: 70px;
  /* font-family: 'Lato'; */
}
.card1:hover{
  box-shadow: 0 8px 90px 0 #166fc2
}
.card2{
  width:270px;
  margin:30px;
  margin-top: 70px;
  border-radius: 20px;
  box-shadow: 0 8px 45px 0 #e43333e0 ;
  text-align: center;
  padding-top: 20px ;
  padding-bottom: 60px;
  object-fit: contain ;
  margin-bottom: 70px
}
.card2:hover{
  box-shadow: 0 8px 90px 0 #e43333e0
}
.card3{
  width:270px;
  margin:30px;
  border-radius: 20px;
  margin-top: 70px;
  box-shadow: 0 8px 45px 0#0c8f39a8;
  text-align: center;
  padding-top: 20px ;
  padding-bottom: 60px;
  margin-bottom: 70px
}
.card3:hover{
  box-shadow: 0 8px 90px 0 #0c8f39a8;
}
.img{
  height: 150px;;
  width:150px
}
.container{
  display: flex;
  flex-direction: row;
  justify-content:center;
}
.openCardContainer{
  margin: 50px;
  width: 92%;
  min-height: 550px
  
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
