.form-style-3{
    width: 60%; 
    min-height: 550px;
	left: 0;
	margin-left:300px;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
.form-style-3 label{
	display:block;
	margin-bottom: 10px;
	margin-left:150px
}
.form-style-3 label > span{
	float: left;
	width: 100px;
	font-weight: bold;
	font-size: 13px;
	text-shadow: 1px 1px 1px #EBF5FB;
}
.form-style-3 fieldset{
	height: 500px;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	margin: 0px 0px 10px 0px;
	border: 1px solid #808000;
	padding: 20px;
	box-shadow: inset 0px 0px 15px #3498DB;
	-moz-box-shadow: inset 0px 0px 15px #3498DB;
	-webkit-box-shadow: inset 0px 0px 15px #3498DB;
}
.form-style-3 fieldset legend{
	margin-left: 20px;
	width: 780px;
	border-top: 1px solid #3498DB;
    border-left: 1px solid #3498DB;
    border-right: 1px solid #3498DB;
	border-radius: 5px 5px 0px 0px;
	-webkit-border-radius: 5px 5px 0px 0px;
	-moz-border-radius: 5px 5px 0px 0px;
	background: aliceblue;
	padding: 0px 8px 3px 8px;
	box-shadow: -0px -1px 2px #F1F1F1;
    -moz-box-shadow:-0px -1px 2px #F1F1F1;
    -webkit-box-shadow:-0px -1px 2px #F1F1F1;
	font-weight: normal;
	font-size: 12px;
}
.form-style-3 textarea{
	width:300px;
	height:100px;
}
.form-style-3 input[type=text],
.form-style-3 input[type=date],
.form-style-3 input[type=datetime],
.form-style-3 input[type=number],
.form-style-3 input[type=search],
.form-style-3 input[type=time],
.form-style-3 input[type=url],
.form-style-3 input[type=email],
.form-style-3 select ,
.form-style-3 textarea{
	border-radius: 3px;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border: 1px solid #3498DB;
        outline: none;
        padding: 5px 8px 5px 8px;
        box-shadow: inset 1px 1px 4px #3498DB;
        -moz-box-shadow: inset 1px 1px 4px #3498DB;
        -webkit-box-shadow: inset 1px 1px 4px #3498DB;
		width:50%;
}
.form-style-3  input[type=submit],
.form-style-3  input[type=button]{
		margin-left: 190px;
		background:#166fc2;
    	border: 1px solid #166fc2;
        padding: 5px 15px 5px 15px;
        box-shadow: inset -1px -1px 3px#166fc2;
        -moz-box-shadow: inset -1px -1px 3px#166fc2;
        -webkit-box-shadow: inset -1px -1px 3px#166fc2;
        border-radius: 3px;
        border-radius: 3px;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
		font-weight: bold;
		height: 40px;
		width: 150px;
		color: white
		
}
.required{
	color:red;
	font-weight:normal;
}
